version 5.181.1

source https://nuget.yjpark.org/nuget/dap
source https://www.nuget.org/api/v2
storage: none
framework: auto-detect

nuget FSharp.Core

nuget Argu

nuget Dap.Forms
nuget Dap.Local
nuget Dap.Context

nuget Elmish.XamarinForms
nuget FSharp.Data 3.0.0-beta4
nuget Dap.Remote.FSharpData

nuget Xamarin.Forms 3.1.0.637273
nuget Xamarin.Essentials

nuget Xamarin.Plugins.Clipboard

# Ooui
nuget Ooui.Forms

# Server
nuget Dap.Local.Farango
nuget Dap.Remote.Server

nuget Dap.Remote.Web

group Build
    source https://nuget.yjpark.org/nuget/dap
    source https://www.nuget.org/api/v2
    storage: none
    framework: netstandard2.0

    nuget Dap.Build
    nuget Dap.Context
    nuget Dap.Platform
    nuget Dap.Remote
    nuget Dap.Forms
    nuget Dap.Local.Farango

    clitool dotnet-sourcelink
    nuget Microsoft.SourceLink.GitHub 1.0.0-beta-62925-02
    nuget Microsoft.Build.Tasks.Git 1.0.0-beta-62925-02
    nuget Microsoft.SourceLink.Common 1.0.0-beta-62925-02
