version 5.216.0

source https://www.nuget.org/api/v2
storage: none
framework: auto-detect

nuget FSharp.Core

nuget Argu

# Libs
nuget Dap.Prelude
nuget Dap.Context
nuget Dap.Platform.Cli
nuget Dap.Platform
nuget Dap.WebSocket
nuget Dap.Remote
nuget Dap.Local

# Server
nuget Dap.Local.Farango
nuget Dap.Remote.Server
nuget Dap.Remote.Dashboard

nuget Dap.Remote.Web

# Client
nuget Dap.Remote.FSharpData

nuget Dap.Skia
nuget Dap.Gui
nuget Dap.Fabulous.Controls
nuget Dap.Fabulous
nuget Dap.Fabulous.Ooui

# TODO
# nuget Dap.Fabulous.Mac

group Build
    source https://www.nuget.org/api/v2
    framework: netstandard2.0
    storage:none

    nuget Dap.Build

    nuget Dap.Prelude
    nuget Dap.Context
    nuget Dap.Platform
    nuget Dap.WebSocket
    nuget Dap.Remote
    nuget Dap.Remote.Dashboard
    nuget Dap.Local.Farango
    nuget Dap.Gui

