version 5.195.5

source https://nuget.yjpark.org/nuget/dap
source https://www.nuget.org/api/v2
storage: none
framework: auto-detect

nuget FSharp.Core

nuget Argu

nuget Dap.Forms
nuget Dap.Forms.Fabulous

nuget Dap.Local
nuget Dap.Context
nuget Dap.Gui
nuget Dap.Eto
nuget Dap.Eto.Gtk
nuget Dap.Remote.FSharpData

# nuget Xamarin.Forms 3.1.0.637273
# nuget Xamarin.Essentials

# Ooui
nuget Ooui.Forms

# Server
nuget Dap.Local.Farango
nuget Dap.Remote.Server

nuget Dap.Remote.Web

# Build
nuget Dap.Build
